.App {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  height: 600px;
}

.img {
  width: 400px;
  height: 500px;
}

.pages {
  display: flex;
  gap: 10px;
  padding:30px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.ganres {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 20px;
}

.btn {
  width: 100px;
  height: 40px;
  background: #fff;
  color: black;
}
.change{
  background-color:red;
}
.pagesBtn{
  width:40px;
  height:40px;
  background:white;
  color:black;
}


/* 
.loading{
    width:100%;
    height:100vh;
    background-color:black;
    position:fixed;
    top:0;
    left:0;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
  } */